             <app-navbar></app-navbar>

 <html>
    <body>

    
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
            <h3>Modifier un admin</h3>
    <div>
       <!-- <input type="text" id="nom" placeholder="Qui êtes-vous ?"/> -->
       <input type="text"  [(ngModel)]="currentAdmin.nomad" #nomad="ngModel" name="nomad" class="form-control" placeholder="Nom" required >

       <label for="nomad">nom Admin</label>
    </div>
    <div>
        <input type="email" [(ngModel)]="currentAdmin.email_ad" #amail_ad="ngModel" name="email_ad" class="form-control" placeholder="Email"required minlength="6">
        <label for="amail">Mail Admin</label>
    </div>
    <!-- <div>
        <input type="text" [(ngModel)]="currentAdmin.mot_de_passe"  #mdp="ngModel" name="mdp" class="form-control" placeholder="Mot de passe" required minlength="3">
        <label for="mdp">Mot de passe</label>
    </div> -->
    <div>
        <input type="number" [(ngModel)]="currentAdmin.numero_ad"  #numero="ngModel" name="numero" class="form-control" placeholder="Numero" required minlength="3">
        <label for="numero_ad">Numéro</label>
    </div>
   
    <input class="button" type="submit" value="Envoyer" />
 </form>
</body>
</html>