<app-navbar></app-navbar>
<div style="height: 90px;"></div>

<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr> <th>Date intervention</th><th>Description</th> <th>machine</th> <th>salle</th>  <th>nom du technicien</th> <th>action1</th> <th>action2</th> </tr>
          <tbody *ngFor="let intervention of Intervention">
          <tr >
            <td>{{intervention.date_inter}}</td>
            <td>{{intervention.description}}</td>
            <td>{{intervention.machine}}</td>
            <td>{{intervention.salle}}</td>
            <td>{{user}}</td>
            <td><a class="btn btn-danger" (click)="supprimerIntervention(intervention.id_inter)" >supprimer</a></td>
            <td><a class="btn btn-success" [routerLink]="['/update-intervention',intervention.id_inter]" >modifier</a></td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a *ngIf="authservice.isTechnicien()" routerLink="/add-intervention"><button class="custom-btn btn-3"><span>Ajouter Intervention</span></button></a>
 