<app-navbar></app-navbar>
<div style="height: 90px;"></div>

<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr> <th>DateDemande</th><th>Demandeur</th> <th>Composant en panne </th>    <th>description</th> <th>état</th><th *ngIf="authservice.isTechnicien()">action</th></tr>
          <tbody *ngFor="let demande of Demande">
          <tr >
            <td>{{demande.dateDemande}}</td>
            <td>{{demande.demandeur}}</td>
            <td>{{demande.machine}}</td>
           <td>{{demande.description}}</td>
           <td>
{{demande.etat}}           </td>
           <td><a *ngIf="authservice.isTechnicien()" class="btn btn-success" [routerLink]="['/update-demande',demande.idD]">modifier</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 