<div class="container">
    <div>
      <h2>Ajouter un Materiel :</h2>
    </div>
   
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
      
      <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >modele du materiel</label>
        <input type="text"[(ngModel)]= "newMateriel.modele " #modele_du_materiel="ngModel"
               name="modele_du_materiel" class="form-control" required>
      </div>
      
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >date achat</label>
        <input type="date" [(ngModel)]= "newMateriel.date_achat"
               name="date_achat" class="form-control" required >
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label >date_expiration_garantie</label>
        <input type="date" [(ngModel)]= "newMateriel.date_expiration_garantie"
               name="numéro Admin" class="form-control"required >
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label >emplacement</label>
        <input type="text" [(ngModel)]= "newMateriel.emplacement"
               name="numéro Admin" class="form-control" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >nom du materiel</label>
        <input type="text" [(ngModel)]="newMateriel.nom_materiel"
               name="id_ad" class="form-control" required>
      </div> 
    
     
      
      <div class="mt-2">
        <button type="submit"  class="btn btnsuccess">Ajouter</button>
      </div>
    </form>
    <br>
    <div>
      
      </div>
  </div>
