<app-navbar></app-navbar>

 <html>
    <body>

    
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
            <h3>Ajouter un nouveau Matériel</h3>
    <div>
       <!-- <input type="text" id="nom" placeholder="Qui êtes-vous ?"/> -->
       <input type="text"  [(ngModel)]="newMateriel.modele" #modele="ngModel" name="modele" class="form-control" placeholder="Marque" required >

       <label for="nom">Marque du materiel</label>
    </div>
    <div>
        <input type="date" [(ngModel)]="newMateriel.date_achat" #date="ngModel" name="date" class="form-control" required >
        <label for="num">Date achat</label>
    </div>
    <div>
      <input type="date" [(ngModel)]="newMateriel.date_expiration_garantie" #date="ngModel" name="date" class="form-control" required >
      <label for="date">date 
        expiration garantie </label>
  </div>
  <!-- <div>
    <input type="text" [(ngModel)]="newMateriel.emplacement" #emplacement="ngModel" name="emplacement" class="form-control" placeholder="Emplacement"required minlength="2">
    <label for="emplacement">Emplac
      ement
       </label>
</div> -->
<div>
  <input type="text" [(ngModel)]="newMateriel.nom_materiel" #nom="ngModel" name="nom" class="form-control" placeholder="Nom du matériel"required minlength="2">
  <label for="nom">Nom du materiel</label>
</div>
    <input class="button" type="submit" value="Envoyer" />
 </form>
</body>
</html>