<app-navbar></app-navbar>
<div style="height: 90px;"></div>

<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr> <th>Id matériel</th><th>Marque du matériel</th> <th>date d'achat du matériel</th> <th>date d expiration de garantie</th>  <th>nom du matériel</th>   <th *ngIf="authservice.isAdmin()">action1</th> <th *ngIf="authservice.isAdmin()">action2</th> </tr>
          <tbody *ngFor="let materiel of Materiel">
          <tr >
            <td>{{materiel.id_materiel}}</td>
            <td>{{materiel.modele}}</td>
            <td>{{materiel.date_achat |date:'dd/MM/yyyy'}}</td>
            <td>{{materiel.date_expiration_garantie |date:'dd/MM/yyyy'}}</td>
            <td>{{materiel.nom_materiel}}</td>
           
                <td><a *ngIf="authservice.isAdmin()" class="btn btn-danger" (click)="supprimerMateriel(materiel.id_materiel)" >supprimer</a></td>
                <td><a *ngIf="authservice.isAdmin()" class="btn btn-success" [routerLink]="['/update-materiel',materiel.id_materiel]">modifier</a></td>

                
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a *ngIf="authservice.isAdmin()" routerLink="/add-materiel"><button class="custom-btn btn-3"><span>Ajouter matériel</span></button></a>