<div class="container">
    <div>
      <h2>Modifier un Materiel :</h2>
    </div>
   
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >id du materiel</label>
            <input readonly type="text"[(ngModel)]= "currentMateriel.id_materiel " #modele_du_materiel="ngModel"
                   name="id_du_materiel" class="form-control" required>
          </div>
      <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >modele du materiel</label>
        <input type="text"[(ngModel)]= "currentMateriel.modele " #modele_du_materiel="ngModel"
               name="modele_du_materiel" class="form-control" required>
      </div>
      
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >date achat</label>
        <input type="date" [ngModel]= "currentMateriel.date_achat | date:'yyyy-MM-dd'"
        (ngModelChange)=" currentMateriel.date_achat= $event"

               name="date_achat" class="form-control" required >
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label >date_expiration_garantie</label>
        <input type="date" [ngModel]= "currentMateriel.date_expiration_garantie | date: 'yyyy-MM-dd'" 
        (ngModelChange)=" currentMateriel.date_expiration_garantie= $event"
               name="date_expiration_garantie" class="form-control"required >
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label >emplacement</label>
        <input type="text" [(ngModel)]= "currentMateriel.emplacement"
               name="emp" class="form-control" required>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >nom du materiel</label>
        <input type="text" [(ngModel)]="currentMateriel.nom_materiel"
               name="nom" class="form-control" required >
      </div> 
    
     
      
      <div class="mt-2">
        <button type="submit"  class="btn btnsuccess">Ajouter</button>
      </div>
    </form>
    <br>
    <div>
      
      </div>
  </div>
