
 <app-navbar></app-navbar>

 <html>
    <body>

    
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
            <h3>Modifier un Matériel</h3>
    <div>
       <!-- <input type="text" id="nom" placeholder="Qui êtes-vous ?"/> -->
       <input type="text"  [(ngModel)]="currentMateriel.modele" #modele="ngModel" name="modele" class="form-control" placeholder="Modéle" required >

       <label for="nom">modele du materiel</label>
    </div>
    <div>
        <input type="date" [ngModel]="currentMateriel.date_achat | date:'yyyy-MM-dd'" 
        (ngModelChange)="currentMateriel.date_achat= $event"  name="date_achat" class="form-control" required >
        <label for="num">Date achat</label>
    </div>
    <div>
      <input type="date" [ngModel]="currentMateriel.date_expiration_garantie | date: 'yyyy-MM-dd'" 
      (ngModelChange)=" currentMateriel.date_expiration_garantie= $event"

       #date="ngModel" name="date" class="form-control" required >
      <label for="date">date 
        expiration garantie </label>
  </div>
  <div>
    <input type="text" [(ngModel)]="currentMateriel.emplacement" #emplacement="ngModel" name="emplacement" class="form-control" placeholder="Emplacement"required minlength="2">
    <label for="emplacement">Emplac
      ement
       </label>
</div>
<div>
  <input type="text" [(ngModel)]="currentMateriel.nom_materiel" #nom="ngModel" name="nom" class="form-control" placeholder="Nom du matériel"required minlength="2">
  <label for="nom">Nom du materiel</label>
</div>
    <input class="button" type="submit" value="Envoyer" />
 </form>
</body>
</html>