<app-navbar></app-navbar>

 <html>
    <body>

    
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
            <h3>Ajouter un Logiciel</h3>
    <div>
       <!-- <input type="text" id="nom" placeholder="Qui êtes-vous ?"/> -->
       <input type="text"  [(ngModel)]="newLogiciel.nom_logiciel" #nom="ngModel" name="nom" class="form-control" placeholder="Nom du logiciel" required >

       <label for="nom">Nom Logiciel</label>
    </div>
    <div>
        <input type="date" [(ngModel)]="newLogiciel.date_installation" #date="ngModel" name="date" class="form-control" required >
        <label for="num">Date installation</label>
    </div>
    <div>
      <input type="text" [(ngModel)]="newLogiciel.poste" #poste="ngModel" name="poste" class="form-control" placeholder="Poste" required >
      <label for="poste">Poste </label>
  </div>
  <div>
    <input type="text" [(ngModel)]="newLogiciel.dernieres_mises_a_jours" #mise_a_jours="ngModel" name="mise_a_jours" class="form-control" placeholder="Derniéres mises à jours" minlength="2">
    <label for="emplacement">Dernieres mises à jours </label>
</div>

    <input class="button" type="submit" value="Envoyer" />
 </form>
</body>
</html>