
 <app-navbar></app-navbar>

 <html>
    <body>

    
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
            <h3>Ajouter un nouveau Technicien</h3>
    <div>
       <!-- <input type="text" id="nom" placeholder="Qui êtes-vous ?"/> -->
       <input type="text"  [(ngModel)]="newTechnicien.nom_technicen" #nom="ngModel" name="nom" class="form-control" placeholder="Nom" required >

       <label for="nom">Nom Technicien</label>
    </div>
    <div>
        <input type="number" [(ngModel)]="newTechnicien.num_technicien" #num="ngModel" name="num" class="form-control" placeholder="Numéro"required minlength="6">
        <label for="num">Numéro technicien</label>
    </div>
    <div>
      <input type="password" [(ngModel)]="newTechnicien.mdp" #mdp="ngModel" name="mdp" class="form-control" placeholder="Mot de passe"required minlength="4">
      <label for="mdp">Mot de passe </label>
  </div>
   
   
    <input class="button" type="submit" value="Envoyer" />
 </form>
</body>
</html>