<div class="container">
    <div>
      <h2>modifier un technicien :</h2>
    </div>
   
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate >
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >id Technicien</label>
        <input readonly type="text" [(ngModel)]="currenttechnicien.id_technicien" #id_technicen="ngModel"
               name="id_technicen" class="form-control" >
      </div> 
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label >nom Technicien</label>
        <input type="text" [(ngModel)]="currenttechnicien.nom_technicen" #nom_technicen="ngModel"
               name="nom_technicen" class="form-control" required minlength="3">
      </div> 
      <div *ngIf="nom_technicen.invalid && (nom_technicen.touched)"
      class="alert">
  
    <div *ngIf="nom_technicen.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="nom_technicen.errors?.['minlength']">
      Name must be at least 3 characters long.
    </div>
    </div>
      <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Numéro technicien</label>
        <input type="text"[(ngModel)]= "currenttechnicien.num_technicien" #num_technicien="ngModel"
               name="num_technicien" class="form-control" required minlength="8">
      </div>
      <div *ngIf="num_technicien.invalid && (num_technicien.touched)"
      class="alert">
  
    <div *ngIf="num_technicien.errors?.['required']">
      Phone number is required.
    </div>
    <div *ngIf="num_technicien.errors?.['minlength']">
      Phone number must be  8 characters 
    </div>
    </div>
      <div class="mt-2">
        <button type="submit"  class="btn btnsuccess">Ajouter</button>
      </div>
    </form>
    <br>
    
  </div>
